# Ignore Gradle project-specific cache directory
.gradle
.gradle/**
/gradle

# Ignore Gradle build output directory
build

/ticketing/build
/ParkInformationSystem/build

**/build

bin/

node_modules/
# Ignore log files and other temporary files
*.log
tmp/
temp/

### VS Code ###
.vscode/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
!**/src/main/**/bin/
!**/src/test/**/bin/

#ignore gradle files

#ignore jar files
*.jar
```


HELP.md
infrastructure/mysql

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

#Infrastructure
/infrastructure/bmac/*
/infrastructure/idp_mysql_data
/infrastructure/idp_mysql_data/*
/infrastructure/rabbitmq
/infrastructure/rabbitmq/*
/infrastructure/mysql
/infrastructure/mysql/*